In [17]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import seaborn as sns 
import scipy.stats as s
import datetime
import matplotlib.patches as mpatches

In [18]:
def getTime(x):
    minutes = x.split(":")[1]
    seconds = x.split(":")[2]
    if int(seconds) >= 30:
        return int(minutes)+1
    else :
        return int(minutes)
df =  pd.read_excel("./lol_stats.xlsx")
#df['TIME'] =  pd.to_datetime(df['TIME'], format='%H:%M:%S')
df['TIME'] = df['TIME'].apply(lambda x : getTime(x))

In [19]:
df.head()

               Meno  Kills  Deaths  Assists   CS   GOLD    DMG  WIN  TIME
0       ND Nivelenn      2       0        4  233  10760   6178    1    24
1         aSx Goksi      4       0        7  215  11356   5414    1    24
2          LoveIace      4       1        3  213  10727  10776    1    24
3  isamashii podsem      4       0        6  219  10986  13282    1    24
4           Miniama      0       1       10   32   6347   6435    1    24

In [20]:
grp = df.groupby(by=["Meno"]).sum()

In [25]:
grp.head()

              Kills  Deaths  Assists   CS   GOLD    DMG  WIN  TIME
Meno
Akkuma            2       9        3  284  13599   9275    0    47
An0nymusL0ve     29      17       30  975  55452  99831    2   135
Arwik666          6       4       17  249  20056  28915    2    57
Aňouš             2       8        1   21   9715   7731    0    43
B4RZUL           18       4       16  657  37301  53249    2    75

In [24]:
grp.to_excel('grp_stats.xlsx', index = True)